{% extends "layout.html" %}

{% block title %}Task App{% endblock %}

{% block content %}
  <h1>Task App</h1>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <script type="text/javascript" src="/static/script.js"></script>
  <form action="/add" method="post">
    <input type="date" name="date">
    <input type="text" name="task">
    <button type="submit">Add Task</button>
  </form>
  <ul>
    {% for task in tasks %}
    <li>
      <input type="checkbox" {% if task.done %}checked{% endif %} onclick="location.href='/done/{{ task.id }}'">
      {{ task.date }}: {{ task.task }}
    </li>
    {% endfor %}
  </ul>
{% endblock %}



